<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Welcome to Tomcat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <description>
     Welcome to Tomcat
  </description>

<filter>  
    <filter-name>EncodingFilter</filter-name>  
    <filter-class>jingganban.CharacterEncodingFilter</filter-class>  
    <init-param>  
    <param-name>encoding</param-name>  
    <param-value>UTF-8</param-value>  
    </init-param>  
</filter>  
<filter-mapping>  
    <filter-name>EncodingFilter</filter-name>  
    <url-pattern>/*</url-pattern>  
</filter-mapping>  

  
  <servlet>
    <servlet-name>UsersCl</servlet-name>
    <servlet-class>jingganban.UsersCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersCl</servlet-name>
    <url-pattern>/UsersCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Update</servlet-name>
    <servlet-class>jingganban.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelUserCl</servlet-name>
    <servlet-class>jingganban.DelUserCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserCl</servlet-name>
    <url-pattern>/DelUserCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Err</servlet-name>
    <servlet-class>jingganban.Err</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Err</servlet-name>
    <url-pattern>/Err</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Tool</servlet-name>
    <servlet-class>jingganban.Tool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tool</servlet-name>
    <url-pattern>/Tool</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Main</servlet-name>
    <servlet-class>jingganban.Main</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/Main</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ClassCl</servlet-name>
    <servlet-class>jingganban.ClassCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClassCl</servlet-name>
    <url-pattern>/ClassCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletFileTest1</servlet-name>
    <servlet-class>jingganban.ServletFileTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletFileTest1</servlet-name>
    <url-pattern>/ServletFileTest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessiontest3</servlet-name>
    <servlet-class>jingganban.SessionTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiontest3</servlet-name>
    <url-pattern>/sessiontest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessiontest1</servlet-name>
    <servlet-class>jingganban.SessionTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiontest1</servlet-name>
    <url-pattern>/sessiontest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sessiontest2</servlet-name>
    <servlet-class>jingganban.SessionTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessiontest2</servlet-name>
    <url-pattern>/sessiontest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hiddenform2</servlet-name>
    <servlet-class>jingganban.HiddenForm2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hiddenform2</servlet-name>
    <url-pattern>/hiddenform2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hiddenform1</servlet-name>
    <servlet-class>jingganban.HiddenForm1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hiddenform1</servlet-name>
    <url-pattern>/hiddenform1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookietest3</servlet-name>
    <servlet-class>jingganban.CookieTest3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookietest3</servlet-name>
    <url-pattern>/cookietest3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookietest1</servlet-name>
    <servlet-class>jingganban.CookieTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookietest1</servlet-name>
    <url-pattern>/cookietest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cookietest2</servlet-name>
    <servlet-class>jingganban.CookieTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookietest2</servlet-name>
    <url-pattern>/cookietest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NoticeCL</servlet-name>
    <servlet-class>jingganban.NoticeCL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoticeCL</servlet-name>
    <url-pattern>/NoticeCL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ActivityCL</servlet-name>
    <servlet-class>jingganban.ActivityCL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityCL</servlet-name>
    <url-pattern>/ActivityCL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageCL</servlet-name>
    <servlet-class>jingganban.MessageCL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageCL</servlet-name>
    <url-pattern>/MessageCL</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hellogen</servlet-name>
    <servlet-class>jingganban.HelloGen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hellogen</servlet-name>
    <url-pattern>/hellogen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hellohttp</servlet-name>
    <servlet-class>jingganban.HelloHttp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hellohttp</servlet-name>
    <url-pattern>/hellohttp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>jingganban.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginCl</servlet-name>
    <servlet-class>jingganban.LoginCl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCl</servlet-name>
    <url-pattern>/LoginCl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Wel</servlet-name>
    <servlet-class>jingganban.Wel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Wel</servlet-name>
    <url-pattern>/Wel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletcontexttest1</servlet-name>
    <servlet-class>jingganban.ServletContextTest1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletcontexttest1</servlet-name>
    <url-pattern>/servletcontexttest1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletcontexttest2</servlet-name>
    <servlet-class>jingganban.ServletContextTest2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletcontexttest2</servlet-name>
    <url-pattern>/servletcontexttest2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>filetest</servlet-name>
    <servlet-class>jingganban.FileTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>filetest</servlet-name>
    <url-pattern>/filetest</url-pattern>
  </servlet-mapping>
</web-app>